.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4b4b4cb;
  }
  
  .modify_container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  }
  
  .title {
  margin-top: 0;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  }
  
  .formGroup {
  margin-bottom: 20px;
  }
  
  .label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  }
  
  input[type="text"]{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  }
  
  .btnSave {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
  .btnCancel {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #e94d05;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
  .btnGetInto:hover {
  background-color: #0056b3;
  }
  
  .btnBack:hover {
  background-color: #b30000;
  }
  
  .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  }
  
  .expanding_textarea {
    resize: vertical; /* Esto permite que el textarea se expanda verticalmente */
    min-height: 100px; /* Altura mínima del textarea */
    max-height: 200px; /* Altura máxima del textarea, ajusta según tus necesidades */
    width: 450px; /* Ancho del textarea, ajusta según tus necesidades */
  }
  
  .legend {
    margin-top: 0%;
    font-size: 14px;
    color: gray;
  }